# These are configurations about the HOST
# Change with your Digital Ocean, Amazon AWS server ip or localhost
HOST_IP=localhost
HOST_PORT=8484

# Redis
REDIS_PASSWORD=

# MongoDB
MONGODB_TEST_DB=
MONGODB_DB=
MONGODB_HOST=
MONGODB_PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_PATH=./.data/db

# Twitter Tokens
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=

# Change this value according to your machine
WORKER_NUMBER=5
